header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-footer);
  color: var(--color-text-header);
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  font-family: var(--header-font);
}

.header-logo {
  width: 40px;
}

.header-title {
  font-weight: 600;
}